@use '../../styles/utilities/variables' as vars;

.room_button {
  text-align: center;

  button {
    padding: 0.5rem 1.5rem;
    color: vars.$colorBlack;
    background-color: vars.$colorWhite;
    border: none;
    box-shadow: none;
    font-weight: 700;
    transition: 0.2s;
    cursor: pointer;
  }
}

@media (min-width: 640px) {
  .room_button {
    button {
      &:hover {
        color: vars.$colorWhite;
        background-color: vars.$colorBlack;
      }
    }
  }
}
