$backgroundLight: #ededed;
$backgroundDark: #0f172a;
$backgroundHoverDark: #1a2546;

// ~~ Colors
// colors fonts
$colorBlack: #000;
$colorHBlack: #555;
$colorWhite: #fff;

// colors border
$colorBorder: #e5e7eb;
