// w pliku _index.scss forwordowałem wszystkie pliki ze stylami. Zabieg ten pozwolił mi na nie powielanie @use.

@use './index' as *;

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: $backgroundDark;
  }
}

body {
  color: $colorWhite;
  font-family: $fontFamilyDefault;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  // header,
  // main,
  // footer {}

  // header {}
  // main {}
  // footer {}

  .container {
    width: 100%;
    margin: auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

@media (min-width: 640px) {
  body {
    .container {
      max-width: 640px;
    }
  }
}

@media (min-width: 768px) {
  body {
    .container {
      max-width: 768px;
    }
  }
}

@media (min-width: 1024px) {
  body {
    .container {
      max-width: 1024px;
    }
  }
}

@media (min-width: 1280px) {
  body {
    .container {
      max-width: 1280px;
    }
  }
}

@media (min-width: 1536px) {
  body {
    .container {
      max-width: 1536px;
    }
  }
}
