// w pliku _index.scss forwordowałem wszystkie pliki ze stylami. Zabieg ten pozwolił mi na nie powielanie @use.

@use './index' as *;

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: $backgroundDark;
  }
}

html,
body {
  letter-spacing: 1.5;
}

body {
  color: $colorWhite;
  font-family: $fontFamilyDefault;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // header,
  // main,
  // footer {}

  header {
    border-bottom: 1px solid $colorBorder;
  }
  // main {}
  footer {
    border-top: 1px solid $colorBorder;
  }

  .container {
    width: 100%;
    position: relative;
    margin: auto;

    .container_flex {
      margin: 2rem 0;
      padding: 3rem 1rem;
      background-color: #0c1222;
      text-align: center;
    }

    .top_page {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 4fr;

      .page_title {
        position: relative;
        display: flex;
        align-items: center;
        height: 300px;

        .text {
          position: absolute;
          display: inline-flex;
          width: 300px;
          padding: 1rem;
          z-index: 999;

          h1 {
            font-size: 1.2rem;
          }
          // p {}
        }

        .box {
          width: 1200px;
          height: 200px;
          position: absolute;
          background-color: rgb(6, 182, 212);
          inset-inline-end: -6rem;
        }
      }

      .page_img {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

// MEDIA QUERIES
@media (min-width: 640px) {
  body {
    .container {
      max-width: 640px;
      padding-right: 1rem;
      padding-left: 1rem;

      .container_flex {
        padding: 2rem;
        border-radius: 1.5rem;
      }
    }
  }
}

@media (min-width: 768px) {
  body {
    .container {
      max-width: 768px;

      .top_page {
        .page_title {
          height: auto;

          .text {
            width: 400px;

            h1 {
              font-size: 1.5rem;
            }
            // p {}
          }

          .box {
            position: absolute;
            inset-inline-end: -12rem;
          }
        }

        // .page_img {
        //   img { }
        // }
      }
    }
  }
}

@media (min-width: 1024px) {
  body {
    .container {
      max-width: 1024px;

      .top_page {
        .page_title {
          .text {
            width: 500px;

            h1 {
              font-size: 2rem;
            }
            // p {}
          }

          .box {
            height: 300px;
            inset-inline-end: -14rem;
          }
        }

        // .page_img {
        //   img { }
        // }
      }
    }
  }
}

@media (min-width: 1280px) {
  body {
    .container {
      max-width: 1280px;
    }
  }
}

@media (min-width: 1536px) {
  body {
    .container {
      max-width: 1536px;
      .top_page {
        .page_title {
          .text {
            width: 800px;
            h1 {
              font-size: 3rem;
            }
            // p {}
          }
          .box {
            inset-inline-end: -20rem;
          }
        }
        // .page_img {
        //   img { }
        // }
      }
    }
  }
}
