// Themes colors
$theme-dark-bg: #2c3639;

// Mediaqueries Breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;

// Colors
$color-black: #000;
$color-white: #fff;

$color-h-black: #555;
