.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
  padding: 0.5rem 1rem;

  .logo {
    font-size: 1.5rem;
    font-weight: bold;

    a {
      text-decoration: none;
    }
  }

  .menuToggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
    z-index: 999;

    @media (max-width: 768px) {
      display: block;
    }
  }

  .navLinks {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0 0 0 1rem;

      a {
        text-decoration: none;
        font-weight: 500;

        &:hover {
          color: #0070f3;
        }
      }
    }

    .active a {
      color: #0070f3;
      font-weight: bold;
    }

    @media (max-width: 768px) {
      display: none;
      flex-basis: 100%;
      flex-direction: column;
      left: 0;
      right: 0;
      // background: #fff;
      // border-top: 1px solid #ddd;

      li {
        margin: 20px 0;
        text-align: center;
      }
    }
  }

  @media (min-width: 768px) {
    padding: 0.5rem 0;
  }
}

// Wyświetl menu po kliknięciu przycisku
.navbar.open .navLinks {
  display: block;
}
