@use '../../styles/utilities/variables' as vars;
@use '../../styles/components/buttons';

.container_flex {
  margin: 2rem 0;
  padding: 1rem;
  background-color: #0c1222;

  .rooms_title {
    h2 {
      font-size: 0.9rem;
    }
  }

  // .rooms {}
}

// ~~ MEDIA QUERIES
@media (min-width: 640px) {
  .container_flex {
    padding: 2rem;
    border-radius: 1.5rem;

    // .rooms_title {}

    // .rooms {}
  }
}

// @media (min-width: 768px) {}
// @media (min-width: 1024px) {}

@media (min-width: 1280px) {
  .container_flex {
    // .rooms_title {}

    .rooms {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  }
}

// @media (min-width: 1536px) {}
