@use '../../styles/utilities/variables' as vars;
@use '../../styles/components/buttons';

.container_flex {
  margin: 2rem 0;
  padding: 1rem;
  background-color: #0c1222;
  text-align: center;

  .rooms_title {
    margin-bottom: 1rem;

    // h2 {}
  }

  .rooms {
    .filter_buttons {
      grid-column: 1 / -1;
      display: flex;
      justify-content: space-between;

      button {
        padding: 0.25rem;
        font-size: 0.75rem;
        cursor: pointer;
        border-color: vars.$colorBorder;
        border-radius: 5px;
        color: vars.$colorBlack;

        &.active {
          background-color: vars.$backgroundDark;
          color: vars.$colorWhite;
        }
      }
    }
  }
}

// ~~ MEDIA QUERIES
@media (min-width: 640px) {
  .container_flex {
    padding: 2rem;
    border-radius: 1.5rem;

    // .rooms_title {}

    .rooms {
      .filter_buttons {
        justify-content: center;

        button {
          padding: 0.25rem;
          font-size: 1rem;
          margin: 0 1rem;
          transition: 0.3s;

          &:hover {
            background-color: vars.$backgroundHoverDark;
            color: vars.$colorWhite;
          }
        }
      }
    }
  }
}

// @media (min-width: 768px) {}
// @media (min-width: 1024px) {}

@media (min-width: 1280px) {
  .container_flex {
    // .rooms_title {}

    .rooms {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  }
}

// @media (min-width: 1536px) {}
