@use '../../../styles/utilities/variables' as vars;

.room_detail {
  .room_details {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 2rem 0;

    .detail {
      font-size: 0.75rem;
      div {
        svg {
          fill: white;
          width: 0.75rem;
        }
      }
    }
  }

  .room_imgs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;

    .room_img {
      position: relative;
      border: 1px solid vars.$colorBorder;

      img {
        object-fit: cover;
      }
    }
  }
}

// ~~ MEDIA QUERIES
// @media (min-width: 640px) {}
@media (min-width: 768px) {
  .room_detail {
    .room_details {
      .detail {
        font-size: 1rem;
        div {
          svg {
            width: 1rem;
          }
        }
      }
    }

    // .room_imgs {
    //   .room_img {
    //     img {
    //     }
    //   }
    // }
  }
}
// @media (min-width: 1024px) {}
// @media (min-width: 1280px) {}
// @media (min-width: 1536px) {}
